
html {
  background: #444444;
}

body {
  
}

img {
  border: 2px solid #878683;
  border-radius: 14px;
}

td, tr, th, table {
  border: none;
  margin: auto;
}


input {
  background-color: #008CBA;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #008CBA;
}

input:hover {
  opacity: 1;
  background-color: #00b0eb;

}


@media screen and (min-width: 800px) {
  .container {

  }

  .images {
    width: 240px;
  }

}



@media screen and (max-width: 799px) {
  .container {

  }

  .images {
    width: 150px;
  }
}
